<div>
  <div class="row">
     <div style="margin-top: 15px; margin-left: 2px; margin-right: 2px"><a href="http://www.maximumbeta.com"><%= image_tag("mblogobeta.png") %></a></div>
      
  </div> 
</div>