<div class="row">
    <div class="large-12 columns">
  <h2 style="color: #c37c7c !important">Edit Post</h2>
  
  <%= render 'form' %>
  
  
  <div style="float: right">
  <%= link_to 'Back', @post, class: "button" %>
  </div>
  
    </div>
  </div>
  