<% if user_signed_in? %>
  
  <div class="row">
    <div class="large-12 columns">
  <h2 style="color: #c37c7c !important">New Post</h2>
  
  <%= render 'form' %>
  
  <%= link_to 'Nevermind', posts_path, class: "button" %>
  
    </div>
  </div>
  
  
  
<% else %>
  
  <div class="panel"><h2>Sorry you must be logged in to create a new post!</h2>
    <p>Please contact Tony Albanese if you would like to contribute to Maximum Beta, <a href="mailto:albanesetr@gmail.com">albanesetr@gmail.com</a>.</p>
    <p>Or continue reading the <a href="http://www.maximumbeta.com">blog</a>.</p>
  
  </div>
  
<% end %>
